<!DOCTYPE html>
<html lang="en" class="<%= themeClass %>" data-theme="<%= theme %>">

<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/landing.css">

<body>

    <main class="landing-page">
        <%- body %>
    </main>

    <%- include('../partials/scripts') %>

</body>

</html>